body{
    /* tama;o estandar de texto default es de 16px=1em */
    border: 1px solid red;
    font-size: 16px; /*1em*/
    margin: 0px auto;
    max-width: 1024px;
}

header{
    background-color: #D1E3EE;
}

/* acomodar el menu */
header nav ul li{
    color: white;
    display: inline-block;
    margin-right: 20px;
    
}

/* borde redondeado a las 2 cajas de buscar */
header nav form input{
    border-radius: 5px;
}

/* cuadro buscar */
header nav form input[type='submit']{
    background: green;
    color: white;
    border: 1px solid green;
}

header nav form{
    /* acomodar el buscador a la derecha */
    float: right;
    /* separar buscador de la orilla */
    margin-right: 20px;
    /* subir el cuadro de texto  */
    margin-top: -35px;
}

header nav{
    background: #026DC6;
    margin: 0px auto;
    /* caja azul aumenta 2 pixeles hacia arriba */
    padding: 2px 0px;
    /* esquinas redondeadas */
    border-radius: 5px;
}

#logo{ /*id='logo'*/
    margin: -150px 0px 0px 0px;
}

#seccion01{
    margin-top: 1 px;
}

/* centrar imagen  */
#seccion01 article {
    text-align: center;
}

#seccion01 article img{
    border: 5px solid rgba(150, 150, 150, 0.3);
    width: 98%;
}

#seccion02 article{
    /* acomodar la seccion en horizontal */
    display: inline-block; 
    vertical-align: top;
    width: 32.7%;
}

/* Poner el texto en negrito */
.nito{
    font-weight: bold;
}

.unaSeccion {
    font-size: 4.5em; /*--4.5 * 16--*/
}

.otraSeccion {
    font-size: 2.5em;
}

article input[type='submit']{
    margin-left: 120px;
    background: white;
    color: blue;
    border: 2px solid red;
    padding: 8px 8px;
    border-radius: 5px;


}
