body{
    font-size: 16px;
    margin: 0px auto; /*centrado*/
    max-width: 1024px;
}

header{
    background-color: #1F2938;
    position: relative;
}

header span{
    margin-left: 110px;
    margin-top: 20px;
    font-size: 15px;
}

header nav{
    position: absolute;
    height: 100px;
    right: 90px;
    margin-top: -20px;
    padding: 4px;
}


header nav ul li{
    display: inline-block;
    font-size: 18px;
    margin-right: 25px;
}

#social{
    margin-top: 2px;
    margin-left: 70px;
    position: absolute;
}

#signin{
    margin-top: 5px;
    margin-left: 611px;
    position: absolute;
    vertical-align: middle;
}

#section1{
    background-color: #1F2938;
}

#section1>article>h1{
    text-align: center;
    margin-top: 180px;
    font-size: 35px;
}

#section1>article>span{
    margin-left: 230px;
    font-size: 20px;
}

#desk{
    border-radius: 15px; 
}

.letraBlanca{
    color: white;
}

.letraGris{
    color: gray;
}

.nito{
     font-weight: bold;
}