body{
    font-size: 16px;
    margin: 0px auto; /*centrado*/
    max-width: 1024px;
}

header{
    background-color: #1F2938;
    position: relative;
}

header span{
    margin-left: 120px;
}

header nav{
    position: absolute;
    right: 150px;
    margin-top: -30px;
}

header nav ul li{
    display: inline-block;
    margin-right: 25px;
}

#social{
    margin-top: 2px;
    margin-left: 70px;
    position: absolute;
}

#signin{
    margin-top: 5px;
    margin-left: 519px;
    position: absolute;
    vertical-align: middle;
}

#section1{
    background-color: #1F2938;
}


.letraBlanca{
    color: white;
}

.letraGris{
    color: gray;
}